[submodule "refs/gepa"]
	path = refs/gepa
	url = git@github.com:gepa-ai/gepa.git
[submodule "refs/openevolve"]
	path = refs/openevolve
	url = git@github.com:algorithmicsuperintelligence/openevolve.git
[submodule "refs/skydiscover"]
	path = refs/skydiscover
	url = git@github.com:skydiscover-ai/skydiscover.git
